html {
    position: relative;
    min-height: 100%;
    min-width: 375px;
    padding: 0 25px;
}

body {
    margin-bottom: 20px;
}

.logs {
    text-align: left;
    padding: 0, 0;
}

.dtHlt {
    background-color: #rgb(187, 180, 184);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.logSrcFmt {
    border-radius: 0.3em;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    font-style: italic;
}

.defsrc-bg {
    color: gray;
    background-color: lightgray;
}

.mansrc-bg {
    color: gray;
    background-color: lightgray;
}

.autosrc-bg {
    color: gray;
    background-color: lightgray;
}

.camsrc-bg {
    color: gray;
    background-color: lightgray;
}

.protsrc-bg {
    color: gray;
    background-color: lightgray;
}

.pressrc-bg {
    color: gray;
    background-color: lightgray;
}

.weatsrc-bg {
    color: gray;
    background-color: lightgray;
}

.tstatsrc-bg {
    color: gray;
    background-color: lightgray;
}

.container {
    width: auto;
    max-width: 98%;
    padding: 0 5px;
}

.centerText {
    text-align: center;
}

.logEvtDt {
    font-weight: bold;
}

.panelHeadTxt {
    font-size: 25px;
}

.links {
    padding: 10px;
    font-size: 18px;
}

.logoIcn {
    width: 1.7em;
    height: auto;
    max-width: 48px;
    max-height: 48px;
}

.shortcutBtns {
    width: 140px;
}

.refresh-btn {
    color: white;
    outline: none;
    font-size: 1.3em;
}

.pnl-head-title {
    font-size: 2.0em;
}

@media (min-width: 800px) {
    .pnl-head-title {
        padding: 3px 0;
    }
    .refresh-btn {
        padding-top: 8px;
    }
}

@media (min-width: 600px) {
    .pnl-head-title {
        padding: 5px 0;
    }
    .refresh-btn {
        padding-top: 10px;
    }
}

.title-text {
    font-size: 2.0em;
}

.home-btn {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 40px;
    font-size: 1.1em;
    border-radius: 0.4em;
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.title-text {
    font-size: 2.0em;
}

.panel-title-text {
    font-size: 1.3em;
}
