html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.container {
  width: 97%;
  padding: 0 15px;
}
.centerText {
  text-align: center;
  font-size: 3.5vw;
}
.logoIcn {
  width: 48px;
  height: 48px;
}
